{
  "plugins": [
    [
      "prismjs", {
        "languages": ["bash", "jsx"],
        "plugins": [],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
